<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Cody Kowalski &middot; Bow Maker</title>
	
	<meta name="description" content="Cody Kowalski is a contemporary bow maker in the Pacific Northwest" />
	
  <link href='http://fonts.googleapis.com/css?family=Rosarivo:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles/main.css" />
	<link rel="stylesheet" type="text/css" href="fonts/delicious/font.css" />
	
	<script type="text/javascript"> <!--
    var screenIsRetina = window.devicePixelRatio > 1;
  	var imageSuffix = '';
    if (screenIsRetina) { imageSuffix = '@2x' };
    
    
    // the retina argument can be a boolean or a string (indicating suffix to add)
    function image(normal_link, retina, alt_text) {
      var default_retina_suffix = '@2x'
      
      var start = '<img src="'
      var mid = '" alt="'
      var end = '" />'
      var img_link
      
      if (!retina) {
        img_link = normal_link
      } else {
        if (screenIsRetina) {
          
          var retina_suffix
          if (typeof retina == 'string') {
            retina_suffix = retina
          } else {
            retina_suffix = default_retina_suffix
          }
          img_link = normal_link.replace(/(\.[^\.]+)$/, retina_suffix + '$1')
        } else {
          img_link = normal_link
        }  
      }
            
      document.write(start + img_link + mid + alt_text + end)
    }
    
    document.write('<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="graphics/favicon' + imageSuffix + '.gif" />')
    // -->
	</script>
  
</head>

<body>

<div id="wrapper">

{{ content }}

<footer>
  <script type="text/javascript" >
    image('graphics/monogram.png', true, 'CK')
  </script>
  
  <p><span class="lead-in">Copyright</span> &copy; 2014 Cody Kowalski</p>
  <p><span class="lead-in">Typefaces</span> <a href="http://www.exljbris.com/delicious.html">Delicious</a> and <a href="http://www.ugrdesign.com.ar">Rosarivo</a></p>
</footer>

</div>

</body>
</html>
