@charset "UTF-8";
/* === Zero out browser styles */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, blockquote, section, article, address, figure {
	padding: 0;
	margin: 0;
	line-height: 1;
} h1, h2, h3, h4, h5, h6, pre, code, address {
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
} a {
	color: inherit;
	text-decoration: none;
} a img {
	border: none;
} ul, ol {
	list-style: none;
} table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* === End zero out browser styles */

/* === Animations ============================================== */

@-webkit-keyframes zoomout {
    from {
        -webkit-transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}

.zoomout {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: zoomout;
}

/* === General styles =========================================== */

html {
    font-size: 62.5%; /*  i.e. 10 px   */
}
body {
    font-family: /* 'Calluna Sans',  */'Delicious', sans-serif; /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
    color: #323;
}
body {
    position: static;
    text-align: center;
}

.sc {
    text-transform: lowercase;
    font-family: 'Delicious SC';
    letter-spacing: 0.15em;
    font-size: 0.75em;
}
p {
    font-size: 1.8rem;
    margin-bottom: 1em;
}
a:hover {
    color: #7389CD;
}

/* === General layout ========================================== */

body,
#overlay {
    background-color: #CA641F;
    background-color: #FF8D1E; /* orange */
    background-color: #DE8532; /* dim orange */
    background-color: #FFCC47; /* yellow */
    background-color: #FFBF31; /* gold */
    background-color: #E98B34; /* dim orange 2 */
    background-color: rgb(253, 163, 49); /* gold b1 */
    background-color: rgb(253, 183, 59); /* gold b3 */
    background-color: #FFB640; /* gold 2 */
    background-color: rgb(252, 170, 52); /* gold b2 */
    background-color: #fff8f0;
    background-color: #F6F1E6;
    background-color: #F9F4E9;

/*
    background-image: url(../graphics/monogram150.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
*/
}

/*
#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#overlay img {
  position: absolute;
  left: 48%;
  top: 30%;
}
*/

#wrapper {
  position: relative;
  text-align: left;
  width: 83rem;
  margin: 0 auto;
  /* -webkit-transform: scale(1.3); */
}

header,
address,
article,
section {
  width: 45rem;
  margin-left: 16rem;
}

h2 {
  margin-left: 0rem;
  font-family: 'Delicious SC', sans-serif;
  font-size: 2.2rem;
  text-transform: lowercase;
  line-height: 1;
  letter-spacing: .1em;
}

/* === Header ============================================== */

.logo {
  position: absolute;
  top: 0;
  right: 20rem;
  background: url(../graphics/bow_logo.png) no-repeat;
  width: 7rem;
  height: 15.8rem;
  background-size: 7rem 15.8rem; /* must match height and width of element */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-resolution: 240dpi) {
  .logo {
    background-image: url(../graphics/bow_logo@2x.png);
  }
}

header {
  letter-spacing: 1px;
}
header h1 {
  font-family: 'Rosarivo', 'Josefin Slab', serif;
  font-size: 5rem;
  margin-left: -3.8rem;
  padding-top: 12.1rem;
}
header h2 {
  margin-top: 0.5rem;
  margin-left: 10.8rem;
}

/* === Intro ============================================== */

#intro {
  margin-top: 6rem;
}
#intro p {
  line-height: 1.3;
  margin-left: 10.8rem;
}

/* === Contact ============================================== */

address {
  margin-top: 6rem;
  font-size: 1.8rem;
  /* letter-spacing: 0.1em; */
}
address h2 + p {
  margin-top: -1.9rem;
}
address p {
  margin-left: 10.8rem;
  line-height: 1.1;
}

/* === Bows ============================================== */

#bows {
  width: 100%;
  margin: 0;
  margin-top: 10rem;
}
#bows h2 {
  margin-left: 16rem;
}
#bows p {
  margin-top: 0.75rem;
  margin-left: 16rem;
}
#bows img {
  margin-top: 3rem;
  width: 400px;
  margin-right: 2rem;
}
#bows img + img,
#bows img.right {
  margin-right: 0;
}

/* === Footer ============================================== */
footer {
  margin: 8rem auto 4rem;
  text-align: center;
}
footer img {
  width: 100px;
  height: 100px;
  margin: 0rem 0rem 1.5rem -1rem;
}
footer p {
  font-size: 1.6rem;
  margin-bottom: 0.8em;
}
footer .lead-in {
  text-transform: lowercase;
  font-family: 'Delicious SC';
  letter-spacing: 1pt;
}
